<div class="row border-bottom white-bg page">
  <div class="col-lg-10">
    <h2 style="margin-top: 10px;"><i class="fa fa-envelope"></i>&nbsp;Contact Us</h2>
  </div>
</div>
<div class="col-md-6 col-md-offset-3 wrapper wrapper-content animated fadeIn ng-scope">
  <div class="ibox">
    <div class="ibox-content">
      <form class="form-horizontal ng-pristine ng-valid" role="form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="col-lg-2 control-label">Name:</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="Name..." formControlName="name" autofocus/>
            <div class="form-group" *ngIf="name.errors && (name.dirty || name.touched)">
              <span class="error text-danger" *ngIf="name.errors.required">* Name is required</span>
              <span class="error text-danger" *ngIf="name.errors.minlength">* At least 4 characters long, we need another {{name.errors.minlength.requiredLength - name.errors.minlength.actualLength}} characters </span>
              <span class="error text-danger" *ngIf="name.errors.maxlength">* 255 characters max, remove {{name.errors.maxlength.actualLength - name.errors.maxlength.requiredLength}} characters </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Email:</label>
          <div class="col-lg-10">
            <input type="email" class="form-control" placeholder="Email..." formControlName="email" email autocomplete='email'/>
            <div class="form-group" *ngIf="email.errors && (email.dirty || email.touched)">
              <span class="error text-danger" *ngIf="email.errors.required">* Email is required</span>
              <span class="error text-danger" *ngIf="email.errors.pattern">* The email address must contain at least the @ character</span>
              <span class="error text-danger" *ngIf="email.errors.minlength">* At least 2 characters long, we need another {{email.errors.minlength.requiredLength - email.errors.minlength.actualLength}} characters </span>
              <span class="error text-danger" *ngIf="email.errors.maxlength">* 254 characters max, remove {{email.errors.maxlength.actualLength - email.errors.maxlength.requiredLength}} characters </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Message:</label>
          <div class="col-lg-10">
            <textarea class="textarea form-control" name="message" formControlName="message" placeholder="What's on your mind?" rows="20"></textarea>
            <div class="form-group" *ngIf="message.errors && (message.dirty || message.touched)">
              <span class="error text-danger" *ngIf="message.errors.required">* Message is required</span>
              <span class="error text-danger" *ngIf="message.errors.minlength">* At least 4 characters long, we need another {{message.errors.minlength.requiredLength - message.errors.minlength.actualLength}} characters </span>
              <span class="error text-danger" *ngIf="message.errors.maxlength">* 2083 characters max, remove {{message.errors.maxlength.actualLength - message.errors.maxlength.requiredLength}} characters </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-2"></div>
          <div class="col-lg-10">
            <button class="btn btn-primary pull-right" type="submit" [disabled]="!contactForm.valid">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
