<div id="search-form" class="row">
  <div class="col-lg-4" style="padding-left: 0">
    <div class="ibox">
      <div class="ibox-content" style="position: relative;">
        <form class="form-horizontal" role="form" [formGroup]="newDeckForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="col-lg-2 control-label">Image:</label>
            <div class="col-lg-10">
              <div class="input-group">
                <input type="text" class="form-control" readonly="" formControlName="thumbnailFile" >
                <label class="input-group-btn">
                      <span class="btn btn-success">
                        <span><i class="fa fa-folder-open"></i> Browse…</span>
                        <input type="file" style="display: none;" accept=".png, .jpg, .jpeg, .gif" (change)="deckThumbnailSelected($event.target.files)">
                      </span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Name:</label>
            <div class="col-lg-10">
              <input name="deckName" type="text" class="form-control" formControlName="deckName">
              <div class="input-group" *ngIf="deckName.errors && (deckName.dirty || deckName.touched)">
                <span class="error text-danger" *ngIf="deckName.errors.required">* Name is required</span>
                <span class="error text-danger" *ngIf="deckName.errors.minlength">* Name must be at least 4 characters long, we need another {{deckName.errors.minlength.requiredLength - deckName.errors.minlength.actualLength}} characters </span>
                <span class="error text-danger" *ngIf="deckName.errors.max">* Name can be max 255 long, remove another {{deckName.errors.maxlength.actualLength - deckName.errors.maxlength.requiredLength}} characters </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Description:</label>
            <div class="col-lg-10">
              <textarea class="form-control" rows="1" ng-model="$ctrl.deckProfile.description"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Video:</label>
            <div class="col-lg-1">
              <i class="fa fa-youtube fa-2" aria-hidden="true" style="font-size: 2.5em;"></i>
            </div>
            <div class="col-lg-6">
              <input name="youtubeUrl" type="text" class="form-control" ng-model="$ctrl.deckProfile.youtubeUrl">
            </div>
            <div class="col-lg-3">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!newDeckForm.valid">Save</button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-3" style="padding-left: 7px;">
              <button type="button" class="btn btn-success btn-block" ng-click="$ctrl.saveDeck()">Shuffle</button>
            </div>
            <div class="col-lg-3" style="padding-left: 7px;">
              <button type="button" class="btn btn-success btn-block" ng-click="$ctrl.saveDeck()">Sort</button>
            </div>
            <div class="col-lg-3" style="padding-left: 7px;">
              <button type="button" class="btn btn-success btn-block" ng-click="$ctrl.saveDeck()">Clear</button>
            </div>
            <div class="col-lg-3" style="padding-left: 7px;">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-8" style="padding: 0">
    <div class="row">
      <deckCardFilters></deckCardFilters>
    </div>
  </div>
</div>
