<div class="row border-bottom white-bg page">
  <div class="col-lg-12">
    <h2 style="margin-top: 10px;"><i class="fa fa-user-circle"></i>&nbsp;Register</h2>
  </div>
</div>
<div class="row wrapper wrapper-content animated fadeIn ng-scope">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 no-pd-rt">
          <h2>Associate your {{provider}} account.</h2>
          <div class="ibox-content">
            <div class="alert alert-info" role="alert">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              <span class="sr-only">Info:</span>
              You've successfully authenticated with <strong>{{provider}}</strong>.
              Please enter a username for this site below and click the Register button to finish
              logging in.
            </div>
            <form name="registerExternalUserForm" class="m-t ng-pristine ng-valid" role="form" [formGroup]="registerExternalUserForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" formControlName="username">
                <div class="form-group" *ngIf="username.errors && (username.dirty || username.touched)">
                  <span class="error text-danger" *ngIf="username.errors.required">* Username is required</span>
                  <span class="error text-danger" *ngIf="username.errors.minlength">* Username must be 4 characters long, we need another {{username.errors.minlength.requiredLength - username.errors.minlength.actualLength}} characters </span>
                  <span class="error text-danger" *ngIf="username.errors.usernameExists">
                    😢 Oh no!, this username already exists.
                  </span>
                </div>
              </div>
              <input type="submit" class="btn btn-primary full-width" [disabled]="!registerExternalUserForm.valid" value="Register"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
