<div class="row border-bottom">
  <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a href="">
        <img id="logo" src="/assets/images/logo-wt.png" alt="DuelTank | The Ultimate Deck builder" title="DuelTank | The Ultimate Deck builder"/>
      </a>
    </div>
    <span>
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary pull-right navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
        <i class="fa fa-bars"></i>
      </a>
    </span>
    <authenticated-navbar *ngIf="(isLoggedIn | async)"></authenticated-navbar>
    <unauthenticated-navbar *ngIf="!(isLoggedIn | async)"></unauthenticated-navbar>
  </nav>
</div>
