<ul id="unauthenticated-navbar" class="nav navbar-top-links navbar-right">
  <li>
    <a [routerLink]="['/', this.globals.urlSegments.account, this.globals.urlSegments.login]" title="Login" alt="Login">
      <i class="fa fa-sign-in"></i> Log In
    </a>
  </li>
  <li>
    <span style="color: #fff">|</span>
  </li>
  <li>
    <a [routerLink]="['/', this.globals.urlSegments.account, this.globals.urlSegments.register]" title="Register" alt="Register">
      <i class="fa fa-user-plus"></i> Register
    </a>
  </li>
</ul>
