<loadingSpinner [loading]="isLoading"></loadingSpinner>
<div class="row border-bottom white-bg page" *ngIf="!isLoading">
  <div class="col-lg-10">
    <h2 style="margin-top: 10px;"><i class="fa fa-ban"></i>&nbsp;Banlist: {{ latestBanlist?.format | uppercase }} - {{ latestBanlist?.releaseDate }}</h2>
  </div>
</div>
<div class="row wrapper wrapper-content animated fadeIn ng-scope" style="padding-bottom: 0">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox" style="margin-bottom: 0">
        <div class="ibox-content">
          <currentHoverCard></currentHoverCard>
        </div>
      </div>
    </div>
    <div id="banlist-tabs" class="col-lg-9">
      <tabset class="tabs-container">
        <tab heading="Forbidden">
          <div class="row">
            <div class="ibox no-mg-bt">
              <div class="ibox-content clearfix">
                <ul class="list-inline">
                  <li *ngFor="let card  of latestBanlist?.forbidden;let i = index" (mouseover)="onCardHover(card)">
                    <img src="/assets/images/forbidden.png" alt="Forbidden" class="img-responsive limit-img" />
                    <img [src]="getApiEndPointUrl() + card.imageUrl" alt="{{ card.name }}" title="{{ card.name }}" class="banlist-card-img"/>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Limited">
          <div class="row">
            <div class="ibox no-mg-bt">
              <div class="ibox-content clearfix">
                <ul class="list-inline">
                  <li *ngFor="let card  of latestBanlist?.limited;let i = index" (mouseover)="onCardHover(card)">
                    <img src="/assets/images/limited.png" alt="Limited" class="img-responsive limit-img" />
                    <img [src]="getApiEndPointUrl() + card.imageUrl" alt="{{ card.name }}" title="{{ card.name }}" class="banlist-card-img"/>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Semi-Limited">
          <div class="row">
            <div class="ibox no-mg-bt">
              <div class="ibox-content clearfix">
                <ul class="list-inline">
                  <li *ngFor="let card  of latestBanlist?.semiLimited;let i = index" (mouseover)="onCardHover(card)">
                    <img src="/assets/images/semi-limited.png" alt="Semi-Limited" class="img-responsive limit-img" />
                    <img [src]="getApiEndPointUrl() + card.imageUrl" alt="{{ card.name }}" title="{{ card.name }}" class="banlist-card-img"/>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Unlimited">
          <div class="row">
            <div class="ibox no-mg-bt">
              <div class="ibox-content clearfix">
                <ul class="list-inline">
                  <li *ngFor="let card  of latestBanlist?.unlimited;let i = index" (mouseover)="onCardHover(card)">
                    <img [src]="getApiEndPointUrl() + card.imageUrl" alt="{{ card.name }}" title="{{ card.name }}" class="banlist-card-img"/>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
