#banlist-tabs ul li .banlist-card-img {
  height: 160px;
  width: 100px;
  margin-bottom: 15px;
}
#banlist-tabs ul li .limit-img {
  height: 20px;
  width: 20px;
}

#banlist-tabs .ibox-content {
  height: 81.1vh;
  margin-bottom: 0;
  overflow-y: auto;
}
#card-text .ibox .ibox-content, #card-tips .ibox .ibox-content, #card-rulings .ibox .ibox-content, #card-trivia .ibox .ibox-content {
  min-height: 33.5vh;
  max-height: 33.5vh;
}

.col-lg-3 .ibox > .ibox-content {
  padding-bottom: 0;
}
