<loadingSpinner [loading]="isLoading"></loadingSpinner>
<div class="row border-bottom white-bg page" *ngIf="!isLoading">
  <div class="col-lg-10">
    <h2 style="margin-top: 10px;"><i class="fa fa-ban"></i>&nbsp;Banlist: {{ latestBanlist.format | uppercase }} - {{ latestBanlist.releaseDate }}</h2>
  </div>
</div>
<div class="row wrapper wrapper-content animated fadeIn ng-scope" style="padding-bottom: 0">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox" style="margin-bottom: 0">
        <div class="ibox-content">
          <deckCurrentCard></deckCurrentCard>
        </div>
      </div>
    </div>
  </div>
</div>
