#current-card #current-card-image .row img {
  margin-left: 10%;
}

#banlist-tabs ul li .banlist-card-img {
  height: 160px;
  width: 100px;
  margin-bottom: 15px;
}
#banlist-tabs ul li .limit-img {
  height: 29px;
  width: 20px;
}

#banlist-tabs .ibox-content {
  height: 81.1vh;
  margin-bottom: 0;
  overflow-y: auto;
}
