<nav class="navbar-default navbar-static-side collapse navbar-collapse" role="navigation" id="bs-navbar-collapse">
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
    <div class="sidebar-collapse" style="overflow: hidden; width: auto; height: 100%; background-color: #fff;">
      <ul sideNavigation class="nav metismenu" id="side-menu" style="display: block; padding-bottom: inherit;">
        <li>
          <a href="" aria-expanded="false" alt="Home" title="Home"><i class="fa fa-home"></i> <span class="nav-label">Home</span> </a>
        </li>
        <li>
          <a href="" alt="Decks" title="Decks"><i class="fa fa-archive"></i> <span class="nav-label">Decks</span></a>
        </li>
        <li>
          <a [routerLink]="[this.globals.routes.archetypes]" alt="Archetypes" title="Archetypes"><i class="fa fa-gg"></i> <span class="nav-label">Archetypes</span> </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-ban"></i>
            <span class="nav-label" alt="Banlist" title="Banlist">Banlist</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse">
            <li><a [routerLink]="[this.globals.routes.banlist.tcg]" alt="TCG" title="TCG">TCG</a></li>
            <li><a [routerLink]="[this.globals.routes.banlist.ocg]" alt="OCG" title="OCG">OCG</a></li>
          </ul>
        </li>
      </ul>
      <ul id="nav-deck-options" class="nav metismenu" sideNavigation>
        <li>
          <hr style="margin: 0 0 15px 0;" />
          <h4 style="padding-left: 25px">Deck Options</h4>
        </li>
        <li>
          <a href="" alt="Create" title="Create"><i class="fa fa-puzzle-piece"></i> Create</a>
        </li>
        <li>
          <a href alt="Upload Deck" title="Upload Deck">
            <i class="fa fa-upload"></i>
            <span class="nav-label">Upload Deck</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse">
            <li><a [routerLink]="[this.globals.routes.uploadYgoProDeck]" alt="Upload YgoPro Deck" title="Upload YgoPro Deck">YgoPro</a></li>
          </ul>
        </li>
      </ul>
      <ul id="nav-user-options" class="nav metismenu" *ngIf="(isLoggedIn | async)">
        <li>
          <hr style="margin: 0 0 15px 0;" />
          <h4 style="padding-left: 25px">User Options</h4>
        </li>
        <li>
          <a href="" alt="Decks" title="Decks"><i class="fa fa-archive"></i> My Decks</a>
        </li>
        <li>
          <a href="" alt="Favourites" title="Favourites"><i class="fa fa-thumbs-o-up"></i> Favourites</a>
        </li>
      </ul>
    </div>
    <ul id="feedback-options" class="nav metismenu" sideNavigation>
      <li>
        <hr style="margin: 0 0 0 0;" />
      </li>
      <li>
        <a href="" alt="Feedback" title="Feedback"><i class="fa fa-wrench"></i>Contact Us</a>
      </li>
    </ul>
    <div class="slimScrollBar" style="width: 0px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 237.732px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 0px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
</nav>
