<div class="loginColumns animated fadeIn ng-scope" style="width: 30%">
  <div class="row">
    <div class="col-md-12">
      <h2 class="font-bold">Forgot your password?</h2>
      <p>Enter your email address, and a password reset link be emailed to you.</p>
      <div class="ibox-content">
        <form name="forgotPasswordForm" class="m-t ng-pristine ng-valid" role="form" [formGroup]="forgotpassword" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" formControlName="email" email>
            <div class="form-group" *ngIf="email.errors && (email.dirty || email.touched)">
              <span class="error text-danger" *ngIf="email.errors.required">Email is required</span>
              <span class="error text-danger" *ngIf="email.errors.pattern">The email address must contain at least the @ character</span>
            </div>
          </div>
          <button type="submit" class="btn btn-primary block full-width m-b" [disabled]="!forgotpassword.valid">Send Email</button>
          <p class="text-muted">
            <small>Got an account? </small>
            <a [routerLink]="['/login']">
              <small>Login</small>
            </a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
