<div class="row border-bottom white-bg page">
  <div class="col-lg-10">
    <h2 style="margin-top: 10px;"><i class="fa fa-home"></i>&nbsp;Home</h2>
  </div>
</div>
<div class="row wrapper wrapper-content animated fadeIn ng-scope">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="ibox">
            <div class="ibox-title">
              <h5>Most Recent Decks</h5>
            </div>
            <div class="ibox-content" *ngIf="isLoadingDecks">
              <div class="sk-spinner sk-spinner-wave">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
              </div>
            </div>
            <div id="latest-decks" class="ibox-content">
              <div class="row">
                <div class="col-md-3" *ngFor="let deck of decks;">
                  <div class="deck-image">
                    <a [routerLink]="['/deck', deck.id, deck.name | slugify]">
                      <img [src]="getApiEndPointUrl() + deck.thumbnailUrl" alt="{{ deck.name }}" title="{{ deck.name }}">
                    </a>
                  </div>
                  <div class="deck-desc">
                    <span class="deck-card-number">
                        {{ deck.totalCards }} cards
                    </span>
                    <small class="text-muted">{{ deck.username }}</small>
                    <a [routerLink]="['/deck', deck.id, deck.name | slugify]" class="deck-name" title="{{ deck.name }}">{{ deck.name }}</a>
                    <div class="small m-t-xs">
                      {{ deck.description }}
                    </div>
                    <div class="m-t clearfix">
                      <a [routerLink]="['/deck', deck.id, deck.name | slugify]" class="btn btn-xs btn-outline btn-primary pull-right" title="{{ deck.name }}">View <i class="fa fa-long-arrow-right"></i> </a>
                      <small class="text-muted pull-left">
                        <ul class="list-inline">
                          <li>{{ deck.createdTimeAgo }}</li>
                        </ul>
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Latest Banlist</h5>
        </div>
        <div class="ibox-content" *ngIf="isLoadingBanlist">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
        </div>
        <div class="ibox-content" style="padding-bottom: 0;">
          <div *ngFor="let banlist of banlists;">
            <div class="row">
              <div class="col-md-9">
                <a [routerLink]="['/banlists', banlist.acronym | lowercase, 'latest']" class="product-name" title="{{ banlist.acronym }} - {{ banlist.releaseDate }}"> {{ banlist.acronym }} - {{ banlist.releaseDate }}</a>
              </div>
              <div class="col-md-3 text-right">
                <a [routerLink]="['/banlists', banlist.acronym | lowercase, 'latest']"  class="btn btn-xs btn-outline btn-primary" title="{{ banlist.acronym }} - {{ banlist.releaseDate }}">Info <i class="fa fa-long-arrow-right"></i> </a>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
      <div class="ibox">
        <div class="ibox-title">
          <h5>Archetypes</h5>
        </div>
        <div class="ibox-content" *ngIf="isLoadingArchetypes">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
        </div>
        <div id="random-archetypes" class="ibox-content">
          <div class="row">
            <div class="col-md-3 no-pd-rt" *ngFor="let archetype of archetypes">
              <a [routerLink]="['/archetype',  archetype.id, archetype.name | slugify]">
                <img alt="{{ archetype.name }}" title="{{ archetype.name }}" [src]="getApiEndPointUrl() + archetype.thumbnailUrl" height="81" width="81">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
