<div id="main-deck-stats" class="col-lg-12">
  <div class="row">
    <div class="ibox">
      <div class="ibox-content">
        <div class="col-lg-4">
          <div class="row">
            <label class="label label-success">Deck :</label>
            <label class="control-label">&nbsp;{{ cards.length }}</label>
          </div>
        </div>
        <div class="col-lg-8 text-right">
          <div class="row">
            <ul class="list-inline">
              <li>
                <label class="label label-warning">Monster :</label>
                <label class="control-label">&nbsp;{{ monsterCardCount }}</label>
              </li>
              <li>
                <label class="label label-primary">Spell :</label>
                <label class="control-label">&nbsp;{{ spellCardCount }}</label>
              </li>
              <li>
                <label class="label label-danger">Trap :</label>
                <label class="control-label">&nbsp;{{ trapCardCount }}</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
