<div class="row border-bottom white-bg page">
  <div class="col-lg-10">
    <h2 style="margin-top: 10px;"><i class="fa fa-user-circle"></i>&nbsp;Forgot Password</h2>
  </div>
</div>
<div class="row wrapper wrapper-content animated fadeIn ng-scope">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 no-pd-rt">
          <!--<h2 class="font-bold">Forgot password</h2>-->
          <p>Enter your email address, and a password reset link will be emailed to you.</p>
          <div class="ibox-content">
            <form name="forgotPasswordForm" class="m-t ng-pristine ng-valid" role="form">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email address">
              </div>
              <button type="submit" class="btn btn-primary block full-width m-b">Send Email</button>

              <p class="text-muted">
                <small>Got an account?</small>
              </p>


              <a href="">
                <small>Login?</small>
              </a>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
