<div class="loginColumns animated fadeIn ng-scope" style="width: 50%">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 no-pd-rt">
          <h2 class="font-bold">DuelTank</h2>
          <p>Login to see it in action.</p>
        </div>
        <div class="col-md-6">
          <h2 class="font-bold">Connect</h2>
          <p>Using social network.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="background-color: #fff">
      <div class="row">
        <div id="loginForm" class="col-md-6 no-pd-rt">
          <div class="ibox-content">
            <form name="loginForm" class="m-t ng-pristine ng-valid" role="form">
              <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
                <!--<div ng-messages="loginForm.username.$error.required">-->
                  <!--<div ng-message="required">Username is required</div>-->
                <!--</div>-->
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

              <a href="">
                <small>Forgot password?</small>
              </a>

              <p class="text-muted">
                <small>Do not have an account?</small>
              </p>
              <a class="btn btn-sm btn-white btn-block" href="">Create an account</a>
            </form>
          </div>
        </div>
        <div class="col-md-6 no-pd-lf">
          <div class="ibox-content">
            <!--<socialLogin></socialLogin>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
