<div class="row border-bottom white-bg page">
  <div class="col-lg-10">
    <h2 style="margin-top: 10px;"><i class="fa fa-user-circle"></i>&nbsp;Login</h2>
  </div>
</div>
<div class="row wrapper wrapper-content animated fadeIn ng-scope">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 no-pd-rt">
          <h2 class="font-bold">DuelTank</h2>
          <p>Register to see it in action.</p>
          <div class="ibox-content">
            <form name="registerForm" class="m-t ng-pristine ng-valid" role="form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary block full-width m-b">Register</button>
              
              <p class="text-muted">
                <small>Got an account?</small>
              </p>

              <a ng-link="['Login']">
                <small>Login?</small>
              </a>

            </form>
          </div>
        </div>
        <div class="col-md-6">
          <h2 class="font-bold">Connect</h2>
          <p>Using social network.</p>
          <div class="ibox-content">
            <socialLogin></socialLogin>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
