<div id="current-card" class="col-lg-2">
  <div class="row">
    <div id="current-card-image" class="col-lg-12">
      <div class="row">
        <img src="{{ getApiEndPoint() + card?.imageUrl }}" alt="{{ card?.name }}" title="{{ card?.name }}" class="img-responsive" width="300" height="440" (contextmenu)="onCardRightClick(card)">
      </div>
    </div>
    <div id="current-card-info" class="col-lg-12">
      <div class="row">
        <tabset>
          <tab heading="Card" (select)="changeTab(card?.id)">
            <div class="ibox no-mg-bt">
              <div class="ibox-content">
                <h5 *ngIf="card?.id">{{ card?.name }}</h5>
                <div [innerHTML]="card?.description"></div>
              </div>
            </div>
          </tab>
          <tab heading="Tips">
            <div class="ibox no-mg-bt">
              <div class="ibox-content">
                <dl *ngFor="let tipSection of card?.tipSections">
                  <dt>{{ tipSection.name }}</dt>
                  <dd *ngFor="let tip of tipSection.tips; let i = index">
                    <p [innerHTML]="tip.text | cardNameToUrl"></p>
                  </dd>
                </dl>
              </div>
            </div>
          </tab>
          <tab heading="Rulings"></tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
