<div class="row border-bottom white-bg page">
  <div class="col-lg-12">
    <h2 style="margin-top: 10px;"><i class="fa fa-upload"></i>&nbsp;YgoPro Deck Upload</h2>
    <span>Upload your existing <a href="https://www.ygopro.co/" target="_blank" style="color: #337ab7;">YgoPro</a> decks. .YDK files only</span>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeIn ng-scope">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-body">
          <div class="input-group">
            <label class="custom-file-label">Select deck(s)</label>
          </div>
          <div class="input-group">
            <label class="input-group-btn">
                    <span class="btn btn-success">
                      <span><i class="fa fa-folder-open"></i> Browse…</span>
                      <input type="file" style="display: none;" accept=".ydk" #deckFileInput multiple (change)="onDeckSelected($event.target.files)">
                    </span>
            </label>
            <input type="text" class="form-control" readonly="" placeholder>
          </div>
          <br/>
          <h3>Upload queue</h3>
          <table class="table">
            <thead>
            <tr>
              <th class="text-left">Name</th>
              <th class="text-right">Size</th>
              <th class="text-left">Progress</th>
              <th class="text-left">Status</th>
              <th class="text-right">Actions</th>
            </tr>
            </thead>
          </table>
          <button type="button" class="btn btn-w-m btn-default"><i class="fa fa-remove"></i>&nbsp;&nbsp;Clear queue</button>&nbsp;
          <button class="btn btn-primary " type="button"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">Upload all</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
